# idea
/.idea/

# python
/venv/

# data
/Download/
/data.json

# Indivdual
/DatabaseSetting.py
config.py
/.history/
/.github/
/Test/
cookies.json

__pycache__/
*.pyc
*$py.class
main.py.ef0154e7c347d0c369aeb65d96f6c393.tmp
